html {

    margin: 0;
    font-family: 'Poppins', sans-serif; /* Moderne Schriftart */
    background-color: #f4f7f6;
    min-height: 100dvh;
}

body {

    margin: 0;
    min-height: 100dvh;
}



.flex-layout, .flex-layout-pictures {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.flex-layout-rows {

    display: flex;
    justify-content: space-evenly;
    width : 100%;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

#mainContent {

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow-x: clip;
    padding-bottom: 16px;
    
}

.sidebar {
    
    top: -16px;
    height: calc(100% + 16px);
    position: absolute;
    right: 0;
    display: flex;
    width: 100%;
    transform: translateX(calc(100% - 24px));
    transition: transform 0.3s ease-in-out;  
    z-index: 2; 
    
    
}

#sidebarContent {
    
    
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr repeat(3, minmax(0, 2fr));
    gap: 16px;
    padding: 16px;
    max-width: 100%;
    max-height: 100%;

}

.sidebarAfterAnimation {

    background: linear-gradient(135deg, #232526 0%, #414345 100%);
    transform: translate(0);
    color: white;
}

#gridWrapperForCentering {

    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}



#arrow {

    display: flex;
    align-items: center;
    cursor: pointer;
}



@media (hover: none) {

    #arrow:active {

        background-color: #a9acaf;

    }


}

@media (hover: hover) and (pointer: fine) {

    #arrow:hover {


        background-color: #a9acaf;

    }
}

#puzzle{

    display:inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:0px;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
}

#puzzle * {

    display: block;

}

@media (orientation: landscape) {

    .flex-layout-pictures {

        display:flex;
        align-items: center;
        flex-direction: row;
        gap: 16px;
    }
}

header {
    
    background: linear-gradient(135deg, #232526 0%, #414345 100%);
    color: white;  
    padding: 16px 32px; 
    box-shadow: 0 10px 25px -5px rgba(79, 70, 229, 0.4);
    backdrop-filter: blur(10px);
    align-self: stretch;
    display:flex;
}

h1 {

    display: flex;
    flex : 1;
    align-items: center;
    gap: 12px;
    margin: 0;
    font-size: 24px;
    letter-spacing: 0.5px; 

}

h2 {

    text-align: center;
}

#sideBarHeadline {

    grid-column: span 3;
}

h1 .material-symbols-outlined {

    font-size: 30px;  
}

p {

    margin: 0;
    text-align: center;
}

button{

    cursor: pointer;
    color: white;
    background-color: #414345;
    border-radius: 8px;
    padding: 6.9px 11.2px;  
}

button > .material-symbols-outlined {

    font-size: 24px;
    margin-top: 2.4px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

#btnTogglePCmode, #btnInfo {

    border: none;
    background: none;

   
}

#info {
    padding: 0 32px 32px 32px;
    position: absolute;
    top: -16px;
    background-color: #f4f7f6;
    max-width: 100dvw;
    width: 100dvw;
    box-sizing: border-box;
    max-height: calc(100% + 16px);
    overflow-y: auto;
    justify-content: normal;
    overflow-x: hidden;
}



.remove-button-style {

    
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 2;
}

.saved-canvas-container{

    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.saved-canvas {

    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
}



#btnSwitchCamera {

    
    position: absolute;
    top: 4px;
    right: 3px;
    z-index: 2;
}


#videoContainer, #pictures {

    position: relative;
}

video{

    width: 40vw;
}

.black-border {

    border: 3px solid #414345;
}

.fade-in {
    animation: fadeIn 0.9s ease-in;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-out {
    animation: fadeOut 0.9s ease-in;
    animation-fill-mode: both;
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

#btnShuffle, #labelShuffle {

    cursor: pointer;
}

#puzzleControls{


    max-width: 80dvw;
}

table, th, td {

    border: 1px solid #414345;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
    
    
    
}

ol {

    padding: 0;
}

.is-invisible{


    display: none;
}

